<div class="accordion-heading-button btn-group">
    <a href="#" data-bind="click: removeAllPausePositions" class="pull-right" title="Delete All Pause Positions"><i class="fa fa-trash-alt" data-bind="css: {muted: !settingsViewModel.settings.plugins.pause_management.ignore_enabled()}"></i></a>
    <a href="#" data-bind="click: addPausePosition" class="pull-right" title="Add New Pause Position"><i class="fa fa-plus" data-bind="css: {muted: !settingsViewModel.settings.plugins.pause_management.ignore_enabled()}"></i></a>
	<a href="#" data-bind="click: onToggleIgnoreEnabled" class="pull-right" title="Ignore Embedded Pause(s) When Enabled"><i class="fa fa-toggle-off" data-bind="css: {'fa-toggle-off' : !settingsViewModel.settings.plugins.pause_management.ignore_enabled(), 'fa-toggle-on' : settingsViewModel.settings.plugins.pause_management.ignore_enabled()}"></i></a>
</div>
