<div class="row-fluid" data-bind="foreach: settingsViewModel.settings.plugins.pause_management.pause_positions">
    <div class="row-fluid">
        <div class="span11" data-bind="text: $data"></div><div class="span1"><a href="#" data-bind="click: $root.removePausePosition"><i class="fa fa-trash-alt "></i></a></div>
    </div>
</div>
